extends layout

block content
  h1 LiveWrite
  
  h3 Write

  .write_block#new_post
    div(contenteditable='true', class='title') untitled.
    .text#writetext
      .writer_out
    input.text_in/
    button.save save.