extends layout

block content
  
  h3.intro Write

  .write_block#new_post
    input(type='text', class='title', placeholder='untitled.')/
    .text#writetext
      .writer_out
    input.text_in/
    .buttons.toolbar
        button.save save.
        button.clear restart.