extends layout


block content

  h3.intro All Writings

  ul.writings
    - for writing in writings
      li.writing
        a(href='/writing/' + writing.id)
          span.title= writing.title
        - if (writing.pen_name)
          div.author= writing.pen_name